{% extends "./index.html" %}
{% load static %}

{% block contenido %}
<br>
<br>

<div class="heading-block center">
    <h2 id="textoRojo">{% autoescape off %} {{receptora.titulo_informacion}}{% endautoescape %}</h2>
</div>

<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="container">
            <p>
                {% autoescape off %} {{receptora.dato_1}}{% endautoescape %}
            </p>
            <div class="oc-item center"><img
                src="{% static 'ecommerce/images/ecommerce/imagenes/LogoIbercra.png' %}"
                width="20%" alt="Ibercra"></div>
        </div>
    </section><!-- #content end -->


</div><!-- #wrapper end -->

<br>
<br>


{% endblock %}