{% extends "core/base.html" %}
{% load static %}

{% block contenido %}

<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <div class="container clearfix text-center">
        <h1>Productos de FMSecom</h1>
    </div>

    <input id="searchbar" onkeyup="buscar_producto()" type="text"
        name="search" placeholder="Buscar un producto..">
</section>


<br>
<br>

<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="row gutter-40 col-mb-80">
                        <!-- Post Content
                ============================================= -->
                        <div class="postcontent col-lg-9 order-lg-last">

                            <!-- Shop
                    ============================================= -->
                            <div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">

                                
                                {% for producto in productos.all %}
                                <div class="product col-md-4 col-sm-6 {{producto.categoria_slug}} claseProducto" style="display:block">
                                    <div class="grid-inner">
                                        <div class="product-image">
                                            <a href="#"><img src="{{producto.imagen1.url}}"></a>
                                            {% if producto.imagen2 %}
                                            <a href="#"><img src="{{producto.imagen2.url}}"></a>
                                            {% endif %}
                                            <div class="sale-flash badge bg-secondary p-2 promo-uppercase">
                                                {{producto.categoria}}</div>
                                            
                                        </div>
                                        <div class="product-desc center">
                                            <div class="product-title">
                                                <h3><a
                                                        href="{% url 'tienda:producto-detallado' producto.slug %}">{{producto.nombre}}</a>
                                                </h3>
                                            </div>
                                            <hr>
                                            <h2 class="product-price"><ins>{{producto.precio_producto}}€</ins></h2>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div><!-- #shop end -->

                        </div><!-- .postcontent end -->

                        <!-- Sidebar
                ============================================= -->
                        <div class="sidebar col-lg-3">
                            <div class="sidebar-widgets-wrap">

                                <div class="widget widget-filter-links">

                                    <h4>Seleccionar categoria</h4>
                                    <ul class="custom-filter ps-2" data-container="#shop"
                                        data-active-class="active-filter">
                                        <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Sin
                                                filtros</a></li>
                                        {% for categoria in categorias %}
                                        <li><a href="#"
                                                data-filter=".{{categoria.slug}}">{{categoria.nombre_categoria}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>

                                <div class="widget widget-filter-links">

                                    <h4>Ordenar por</h4>
                                    <ul class="shop-sorting ps-2">
                                        <li class="widget-filter-reset active-filter"><a href="#"
                                                data-sort-by="original-order">Sin filtros</a></li>
                                        <li><a href="#" data-sort-by="name">Nombre</a></li>
                                        <li><a href="#" data-sort-by="price_lh">Precio ascendente</a></li>
                                        <li><a href="#" data-sort-by="price_hl">Precio descendente</a></li>
                                    </ul>

                                </div>

                            </div>
                        </div><!-- .sidebar end -->
                    </div>

                </div>
            </div>
        </section><!-- #content end -->

    </div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script>
    jQuery(document).ready(function ($) {
        $(window).on('pluginIsotopeReady', function () {
            $('#shop').isotope({
                transitionDuration: '0.65s',
                getSortData: {
                    name: '.product-title',
                    price_lh: function (itemElem) {
                        if ($(itemElem).find('.product-price').find('ins').length > 0) {
                            var price = $(itemElem).find('.product-price ins').text();
                        } else {
                            var price = $(itemElem).find('.product-price').text();
                        }

                        priceNum = price.split("€");

                        return parseFloat(priceNum[1]);
                    },
                    price_hl: function (itemElem) {
                        if ($(itemElem).find('.product-price').find('ins').length > 0) {
                            var price = $(itemElem).find('.product-price ins').text();
                        } else {
                            var price = $(itemElem).find('.product-price').text();
                        }

                        priceNum = price.split("€");

                        return parseFloat(priceNum[1]);
                    }
                },
                sortAscending: {
                    name: true,
                    price_lh: true,
                    price_hl: false
                }
            });

            $('.custom-filter:not(.no-count)').children('li:not(.widget-filter-reset)').each(function () {
                var element = $(this),
                    elementFilter = element.children('a').attr('data-filter'),
                    elementFilterContainer = element.parents('.custom-filter').attr('data-container');

                elementFilterCount = Number(jQuery(elementFilterContainer).find(elementFilter).length);

                element.append('<span>' + elementFilterCount + '</span>');

            });

            $('.shop-sorting li').click(function () {
                $('.shop-sorting').find('li').removeClass('active-filter');
                $(this).addClass('active-filter');
                var sortByValue = $(this).find('a').attr('data-sort-by');
                $('#shop').isotope({ sortBy: sortByValue });
                return false;
            });
        });
    });


    function buscar_producto() {
        let input = document.getElementById('searchbar').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('claseProducto');
        
        for (i = 0; i < x.length; i++) { 
            console.log(x[i].innerHTML)
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="none";
            }
            else {
                x[i].style.display="block";                 
            }
        }
}
</script>



{% endblock %}