{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            {% comment %} <div class="alert alert-success" role="alert" id="alertSuccess" style="display: none;">
                El pago se ha realizado con éxito.
            </div>

            <div class="alert alert-danger" role="alert" id="alertFailure" style="display: none;">
                El pago ha fallado. Por favor, inténtelo de nuevo.
            </div>


            <div class="text-center py-3">
                <div id="loader" class="lds-ring" style="margin:auto; display:none;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div> {% endcomment %}
            

            <div id='paymentInfo'>
                <p>Cantidad a pagar: {{ pedido.get_total }} €</p>
                <h4>Seleccione un método de pago</h4>
                <div id="paypal-button-container"></div>
            </div>

        </div>
        
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
<script src="{% static 'main.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>

<section class="section">
    <div class="container">
      <button class="button is-primary" id="submitBtn">PAGAR CON STRIPE</button>
    </div>
  </section>
{% endblock %}