{% extends "core/base.html" %}
{% load static %}

{% block contenido %}

<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <div class="container clearfix text-center">
        <h1>Mis pedidos</h1>
    </div>
</section>

{% for pedido in pedidos %} 
<h1> EL PEDIDO ES: {{pedido.id}}</h1>
Numero de items: {{pedido.items.count}}
<br>
<p>ITEMS:</p>
{% for ped in pedido.items.all %}
{{ped.producto.nombre}}
<br>
{% endfor %}
TOTAL DEL PEDIDO: {{pedido.get_total}} €
 <br>
 <br>
 {% endfor %}                 

<!-- Content
		============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <h3 class="text-black h4 text-uppercase text-center">RESUMEN DE PEDIDOS</h3>
                </div>
            </div>

            <table class="table cart mb-3">
                <thead>
                    <tr>
                        <th class="cart-product-name center">ID del pedido</th>
                        <th class="cart-product-name center">Cantidad de productos</th>
                        <th class="cart-product-price center">Precio total</th>
                    </tr>

                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr class="cart_item center">
                        <td class="cart-product-name ">
                            <a class="h5 text-black">{{pedido.id}}</a>
                        </td>
                        <td class="cart-product-name">{{pedido.items.count}}
                            

                        </td>
                        <td class="cart-product-price">
                            <div class="qty text-center">
                                {{pedido.get_total}} €
                            </div>
                        </td>
                        


                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">
                            Aún no ha realizado ningún pedido.
                        </td>
                    </tr>
                    {% endfor %}
                    <br>

                </tbody>

            </table>

            <br>
            <div id="hide-me">¿Me ves?
            </div>
            <p>Esconder/mostrar con <button id="displayNone">diplay: none / block</button>
            </p>

        </div>


    </div>
</section><!-- #content end -->


<script>
    $('#displayNone').click(function (e) {

        // Resetear, por si acaso has estado jugando con la otra propiedad
       // $('#hide-me').css('visibility', 'visible');

        if ($('#hide-me').is(":visible")) {
            $('#hide-me').css('display', 'none');
        } else {
            $('#hide-me').css('display', 'block');
        }
    });

</script>


{% endblock %}