{% extends "core/base.html" %}
{% load static %}

{% block contenido %}

<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <div class="container clearfix text-center">
        <h1>Mis pedidos</h1>
    </div>
</section>

<br>

<p>{{pedido.items.all.first}}</p>

{% for pedido in pedidos %}

<p> ***************** {{pedido}} ***************** </p>

{% for ped in pedido.items.all %}

<p><a href="{% url 'tienda:producto-detallado' ped.producto.slug %}">{{ped.producto.nombre}}</a></p>


{% endfor %}
<br>
{% endfor %}

{% endblock %}