{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block tituloPagina %} 
{{producto.nombre}}
{% endblock %}


{% block contenido %}
<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <div class="container clearfix text-center">
        <h1>{{producto.nombre}}</h1>
        <span>Compre sus productos deseados</span>
    </div>
</section>


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="single-product">
                <div class="product">
                    <div class="row gutter-40">

                        <div class="col-md-5">

                            <!-- FOTOS PRODUCTO
                            ============================================= -->
                            <div class="product-image">
                                <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                    <div class="flexslider">
                                        <div class="slider-wrap" data-lightbox="gallery">
                                            <div class="slide" data-thumb="{{producto.imagen1.url}}"><a
                                                    href="images/shop/dress/3.jpg" data-lightbox="gallery-item"><img
                                                        src="{{producto.imagen1.url}}"></a></div>
                                            {% if producto.imagen2 %}
                                            <div class="slide" data-thumb={{producto.imagen2.url}}><a
                                                    href="images/shop/dress/3-1.jpg" data-lightbox="gallery-item"><img
                                                        src={{producto.imagen2.url}}></a></div>
                                            {% endif %}
                                            {% if producto.imagen3 %}
                                            <div class="slide" data-thumb={{producto.imagen3.url}}><a
                                                    href="images/shop/dress/3-2.jpg" data-lightbox="gallery-item"><img
                                                        src={{producto.imagen3.url}}></a></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="sale-flash badge bg-danger p-2">{{producto.categoria}}</div>
                            </div><!-- FIN FOTOS PRODUCTO -->

                        </div>

                        <div class="col-md-5 product-desc">

                            <div class="d-flex align-items-center justify-content-between">

                                <!-- Product Single - Price
                                ============================================= -->
                                <div class="product-price">{{producto.nombre}} <br>{{producto.precio_producto}} €
                                </div>
                                <!-- Product Single - Price End -->



                            </div>

                            <div class="line"></div>


                            <form class="cart mb-0 d-flex justify-content-between align-items-center" method="post"
                                enctype='multipart/form-data'>
                                
                                <!-- Un usuario no registrado tambien puede agregar al carrito -->

                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type='submit' class="add-to-cart button m-0">Añadir al carrito</button>
                                </form>


                            </form><!-- Product Single - Quantity & Cart Button End -->

                            <div class="line"></div>
                            <br>

                            <!-- Product Single - Short Description
                            ============================================= -->
                            <p>{{producto.descripcion|safe}}</p>

                            <!-- Product Single - Meta
                            ============================================= -->
                            <div class="card product-meta center">
                                <div class="card-body">
                                    <span itemprop="productID" class="sku_wrapper">ID del producto: <span
                                            class="sku">{{producto.id}}</span></span>
                                    <br>
                                    <span class="posted_in">Categoria: <a
                                            href="{% url 'tienda:categoria' producto.categoria_slug %}"
                                            rel="tag">{{producto.categoria}}</a>.</span>

                                </div>
                            </div><!-- Product Single - Meta End -->



                        </div>

                        <div class="col-md-2">


                            <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                            <div class="feature-box fbox-plain fbox-dark fbox-sm">
                                <div class="fbox-icon">
                                    <i class="icon-thumbs-up2"></i>
                                </div>
                                <div class="fbox-content fbox-content-sm">
                                    <h3>100% Original</h3>
                                    <p class="mt-0">Le aseguramos la originalidad de todas las marcas. Nos pondremos en contacto con usted para la instalación de sus productos.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
                                <div class="fbox-icon">
                                    <i class="icon-credit-cards"></i>
                                </div>
                                <div class="fbox-content fbox-content-sm">
                                    <h3>Opciones de pago</h3>
                                    <p class="mt-0">Visa, MasterCard, Amex o UnionPay.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
                                <div class="fbox-icon">
                                    <i class="icon-truck2"></i>
                                </div>
                                <div class="fbox-content fbox-content-sm">
                                    <h3>Envío gratuito</h3>
                                    <p class="mt-0">Envío gratuito de todos nuestros productos.</p>
                                </div>
                            </div>

                            <div class="feature-box fbox-plain fbox-dark fbox-sm mt-4">
                                <div class="fbox-icon">
                                    <i class="icon-undo"></i>
                                </div>
                                <div class="fbox-content fbox-content-sm">
                                    <h3>30 días para su devolución</h3>
                                    <p class="mt-0">Debe ponerse en contacto con nosotros para tramitar la devolución.
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="w-100"></div>

                        <div class="col-12 mt-5">

                            <div class="tabs clearfix mb-0" id="tab-1">

                                <ul class="tab-nav clearfix">
                                    <li><a href="#tabs-1"><i class="icon-align-justify2"></i><span
                                                class="d-none d-md-inline-block"> Descripcion</span></a></li>
                                    <li><a href="#tabs-2"><i class="icon-info-sign"></i><span
                                                class="d-none d-md-inline-block"> Especificaciones</span></a></li>

                                </ul>

                                <div class="tab-container">

                                    <div class="tab-content clearfix" id="tabs-1">
                                        <p>{{ producto.descripcion|safe }}
                                    </div>
                                    <div class="tab-content clearfix" id="tabs-2">

                                        {{producto.especificaciones|safe}}

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--PRODUCTOS RELACIONADOS - hacer un for -->
        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

        <div class="w-100">


            <h2 class="center">Productos relacionados</h2>

            <div class="owl-carousel product-carousel carousel-widget" data-margin="30" data-pagi="false"
                data-autoplay="5000" data-items-xs="1" data-items-md="2" data-items-lg="3" data-items-xl="4">

                {% for producto in productos_categoria %}
                <div class="oc-item">
                    <div class="product">
                        <div class="product-image">
                            <a href="#"><img src="{{producto.imagen1.url}}"></a>
                            {% if producto.imagen2 %}
                            <a href="#"><img src="{{producto.imagen2.url}}"></a>
                            {% endif %}
                        </div>
                        <div class="product-desc center">
                            <div class="product-title">
                                <h3><a
                                        href="{% url 'tienda:producto-detallado' producto.slug %}">{{producto.nombre}}</a>
                                </h3>
                            </div>
                            <div class="product-price">{{producto.precio_producto}} €</div>
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>

        </div>

    </div>
</section><!-- #content end -->




{% endblock %}