{% extends "./base.html" %}
{% load static %}

{% block tituloPagina %} 
Manuales
{% endblock %}

{% block contenido %}


<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ayuda al usuario</li>
          <li class="breadcrumb-item active" aria-current="page">Manuales</li>
        </ol>
      </nav>
</section>


<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <div class="row gutter-40 col-mb-80">
                        <!-- Post Content
                ============================================= -->
                        <div class="postcontent col-lg-9 order-lg-last">

                            <!-- Shop
                    ============================================= -->
                            <div id="shop" class="shop row grid-container gutter-20" data-layout="fitRows">

                                {% for file in files %}
                                <div class="toggle faq faq-authors faq-legal faq-itemdiscussion {{file.categoria.slug}} ">
                                    
                                    <div class="toggle-header ">
                                        
                                        <div class="toggle-icon">
                                            <i class="toggle-closed icon-download-alt"></i>
                                            <i class="toggle-open icon-download-alt"></i>
                                        </div>
                                        <a class="toggle-title {{file.categoria}}" href="{{file.archivo.url}}">
                                            [{{file.categoria|safe}}] {{file.titulo|safe}}
                                        </a>
                                        <div class="toggle-icon">
                                            <img src="{% static 'core/images/core/imagenes/pdf.png' %}" style="height: 50px;"></img>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div><!-- #shop end -->

                        </div><!-- .postcontent end -->

                        <!-- Sidebar
                ============================================= -->
                        <div class="sidebar col-lg-3">
                            <div class="sidebar-widgets-wrap">

                                <div class="widget widget-filter-links">

                                    <h4>Seleccionar categoria</h4>
                                    <ul class="custom-filter ps-2" data-container="#shop"
                                        data-active-class="active-filter">
                                        <li class="widget-filter-reset active-filter"><a href="#" data-filter="*">Sin
                                                filtros</a></li>
                                        {% for categoria in categorias %}
                                        <li><a href="#"
                                                data-filter=".{{categoria.slug}}">{{categoria.nombre_categoria|safe}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>



                            </div>
                        </div><!-- .sidebar end -->
                    </div>

                </div>
            </div>
        </section><!-- #content end -->

    </div>
</body>

<script>
    jQuery(document).ready(function ($) {
        $(window).on('pluginIsotopeReady', function () {
            $('#shop').isotope({
                transitionDuration: '0.65s',
                getSortData: {
                    name: '.product-title',
                    
                },
                sortAscending: {
                    name: true,
                    price_lh: true,
                    price_hl: false
                }
            });

            $('.custom-filter:not(.no-count)').children('li:not(.widget-filter-reset)').each(function () {
                var element = $(this),
                    elementFilter = element.children('a').attr('data-filter'),
                    elementFilterContainer = element.parents('.custom-filter').attr('data-container');

                elementFilterCount = Number(jQuery(elementFilterContainer).find(elementFilter).length);

                element.append('<span>' + elementFilterCount + '</span>');

            });

            $('.shop-sorting li').click(function () {
                $('.shop-sorting').find('li').removeClass('active-filter');
                $(this).addClass('active-filter');
                var sortByValue = $(this).find('a').attr('data-sort-by');
                $('#shop').isotope({ sortBy: sortByValue });
                return false;
            });
        });
    });
</script>
{% endblock %}