{% extends "./base.html" %}
{% load static %}

{% block contenido %}

<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;" >
    <div class="container clearfix text-center" >
        <h1>{{receptora.titulo_informacion|safe}}</h1>
    </div>
</section>
<br>
<br>
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="container">
            <p>
                {{receptora.dato_1|safe}}
            </p>
            <div class="oc-item center"><img
                src="{% static 'core/images/core/imagenes/LogoIbercra.png' %}"
                width="20%" alt="Ibercra"></div>
        </div>
    </section><!-- #content end -->


</div><!-- #wrapper end -->

<br>
<br>


{% endblock %}