{% extends "./base.html" %}
{% load static %}

{% block tituloPagina %}
Búsqueda de manual
{% endblock %}

{% block contenido %}




<main class="container my-4">
    <!-- Featured Products -->
    <h3 class="my-4 border-bottom pb-1"><span class="text-muted">Resultados de la búsqueda: </span> {{request.GET.q}}
    </h3>
    <div class="row">
        {% for file in data %}
        <div class="toggle faq faq-authors faq-legal faq-itemdiscussion {{file.categoria.slug}} ">

            <div class="toggle-header ">

                <div class="toggle-icon">
                    <i class="toggle-closed icon-download-alt"></i>
                    <i class="toggle-open icon-download-alt"></i>
                </div>
                <a class="toggle-title {{file.categoria}}" href="{{file.archivo.url}}">
                    [{{file.categoria|safe}}] {{file.titulo|safe}}
                </a>
                <div class="toggle-icon">
                    <img src="{% static 'core/images/core/imagenes/pdf.png' %}" style="height: 50px;"></img>
                </div>


            </div>
        </div>
        {% empty %}

        Lo sentimos. No hay resultados para "{{request.GET.q}}"

        {% endfor %}
    </div>
</main>
{% endblock %}