{% extends "./base.html" %}
{% load static %}

{% block tituloPagina %}
Tutoriales
{% endblock %}

{% block contenido %}

<!-- Situacion en la web -->
<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ayuda al usuario</li>
            <li class="breadcrumb-item active" aria-current="page">Tutoriales</li>
        </ol>
    </nav>
</section>

<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
		============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container">

                    <div class="fancy-title title-border">
                        <h3>Tutoriales</h3>
                    </div>

                    <div class="row col-mb-50 mb-0">


                        {% for tutorial in tutoriales %}

                        <div class="product  col-md-4 col-sm-6 {{producto.categoria_slug}} claseProducto"
                            style="display:block">
                            <div class="grid-inner">
                                <div class="product-image center">
                                    <p>
                                        <a href="{% url 'core:tutorial-detallado' tutorial.slug %}"><img
                                                src="{{tutorial.logo_tutorial.url}}"  width="300px" height="300px"></img></a>
                                    </p>
                                </div>
                                <div class="product-desc center">
                                    <div class="product-title">
                                        <h3><a
                                                href="{% url 'core:tutorial-detallado' tutorial.slug %}">{{tutorial.titulo}}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}


                    </div>


                </div>
            </div>
        </section><!-- #content end -->


    </div><!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>



</body>
<br>

{% endblock %}