<div id="top-cart" class="header-misc-icon d-none d-sm-block">
    <a href="#" id="top-cart-trigger"><i class="icon-line-bag"></i><span class="top-cart-number"> *Numero de productos*
        </span></a>
    <div class="top-cart-content">

        <div class="top-cart-title">
            <h4> CESTA </h4>
        </div>
        <br>



        <!-- Si hay productos en la cesta -->

        {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}

        <div class="top-cart-items">
            <div class="top-cart-item">

                <!-- IMAGEN -->
                <div class="top-cart-item-image">
                    <a href="#"><img src="{{value.imagen}}" /></a>
                </div>
                <p></p>

                <!-- NOMBRE PRODUCTO + CANTIDAD + PRECIO -->
                <div class="top-cart-item-desc">
                    <div class="top-cart-item-desc-title">
                        <a href="#"> {{value.nombre}} </a>
                        <span class="top-cart-item-price d-block"> {{value.precio}}
                            €</span>
                        <span class="top-cart-item-price d-block"> {{value.precio_cantidad}}
                                €</span>
                    </div>
                </div>
                <div class="quantity clearfix">
                    <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                    <p> {{value.cantidad}}</p>
                    <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                    <a href="{% url 'carro:eliminar' value.producto_id %}" class="btn btn-sm btn-success">Eliminar</a>
                </div>
            </div>
        </div>

        {% endfor %}

        {% else %}
        <div class="alert alert-danger text-center">
            Sin productos
        </div>
        {% endif %}
        <!-- CADA PRODUCTO DE LA CESTA -->







        <div class="top-cart-action">
            <span class="top-checkout-price"> {{importe_total_carro}} €</span>
            <a href="{% url 'carro:limpiar' %}" class="button button-3d button-small m-0">Vaciar Cesta </a>
            <a href="#" class="button button-3d button-small m-0">Ver Cesta </a>
        </div>
    </div>
</div>
<!-- #FIN DEL CARRITO DE ARRIBA -->