# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3


# Django  Migrations #
**/migrations/**
!**/migrations
!**/migrations/__init__.py

/FMSecom/__init__.py
/FMSecom/migrations/__init__.py

/core/__init__.py
/core/migrations/__init__.py

/autenticacion/__init__.py
/autenticacion/migrations/__init__.py

/tienda/__init__.py
/tienda/migrations/__init__.py


#idea
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/WorkSpaceCompany.iml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
# util
/Readme_util.md
/.env