{% extends "./base.html" %}
{% load static %}

{% block contenido %}
<!-- Situacion en la web -->
<section id="page-title" style="padding: 2em;" >
    <div class="container clearfix text-center" >
        <h1>Ofertas</h1>
    </div>
</section>
<br>
<br>

<div class="center container clearfix" >
<img src="{% static 'core/images/core/imagenes/Oferta.png' %}"  width="60%"  data-animate="fadeInUp" alt="Oferta" class="center"></img>
</div>

<!-- PROVISIONAL 
<a href="{% static 'core/pdf/core/ofertas/OfertaVisonic.pdf' %}">
    Oferta de Visonic
</a>
-->
<br>
{% endblock %}